<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido/a</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card>
      <ion-card-header>
      <div class="boton-atras"> <ion-icon name="backspace" routerLink="/home"></ion-icon> </div>
        <h3> Lugar de Partida: </h3>
        <img src="assets/img/mapa.png">
        <br>

        <ion-searchbar animated> Busca tu Destino </ion-searchbar>

        <img src="assets/img/mapa2.png">

      </ion-card-header>  
    </ion-card>
</ion-content>
